<%- include('partials/header') -%>

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
<form method="post" action="/signup">
  <label>Name: <input type="text" name="name"></label>
  <label>Email: <input type="email" name="email"></label>
  <label>Password: <input type="password" name="password"></label>
  <label>Confirm password: <input type="password" name="confirmPassword" autocomplete="false"></label>
  <button type="submit">Submit</button>
</form>
<%- include('partials/footer') -%>

